Applications/DMT.Matcher.Module/Service References/Partition/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PartitionBrokerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPartitionBrokerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DMT.Partition.Module.Remote.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPartitionBrokerService_RegisterMatcher_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMatcher" />
  </wsdl:message>
  <wsdl:message name="IPartitionBrokerService_RegisterMatcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMatcherResponse" />
  </wsdl:message>
  <wsdl:message name="IPartitionBrokerService_GetPartition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartition" />
  </wsdl:message>
  <wsdl:message name="IPartitionBrokerService_GetPartition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartitionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPartitionBrokerService">
    <wsdl:operation name="RegisterMatcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartitionBrokerService/RegisterMatcher" message="tns:IPartitionBrokerService_RegisterMatcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartitionBrokerService/RegisterMatcherResponse" message="tns:IPartitionBrokerService_RegisterMatcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartition">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartitionBrokerService/GetPartition" message="tns:IPartitionBrokerService_GetPartition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartitionBrokerService/GetPartitionResponse" message="tns:IPartitionBrokerService_GetPartition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPartitionBrokerService" type="tns:IPartitionBrokerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartitionBrokerService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterMatcher">
      <soap12:operation soapAction="http://tempuri.org/IPartitionBrokerService/RegisterMatcher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartition">
      <soap12:operation soapAction="http://tempuri.org/IPartitionBrokerService/GetPartition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartitionBrokerService">
    <wsdl:port name="NetTcpBinding_IPartitionBrokerService" binding="tns:NetTcpBinding_IPartitionBrokerService">
      <soap12:address location="net.tcp://localhost:8080/service/partition" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/service/partition</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>